*{
    padding:0;
    box-sizing: border-box;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

header{
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    background-color: #aa88e0;
    background-color: #F5EFFF;
    color:black;
}

.logo{
    margin-top:18px;
    color:rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar{
    display: flex;
    align-items: center;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */

}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navlinks a{
    text-decoration: none;
    transition:  color 0.3s ease;
    color:black;
    font-size: 1rem;

}

.navlinks a:hover{
    color: rgb(154, 167, 10);
}

body {
    background-color: #f5f5fa;
}
.dashboard-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(198, 137, 137);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.wishlist-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

header{
     background-color: #F5EFFF;
     padding: 10px;
     text-align: center;
     border-radius: 10px;
     display: flex;
     justify-content:space-between;
     
    }

.logo{
    margin-left: 5px;
}

.links{
    display: flex;

}
