*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
 }

 header{
    margin-top: 10px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    background-color: #98D8EF;
    color:black;

    
}

.logo{
    margin-top:18px;
    color:rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
}

.user-icon{
    margin-left:3rem;
}


.user-icon img{
    height: 25px;
    width: 25px;
}

.navbar{
    display: flex;
    align-items: center;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */

}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navlinks a{
    text-decoration: none;
    transition:  color 0.3s ease;
    color:black;
    font-size: 1rem;

}

.navlinks a:hover{
    color: rgb(154, 167, 10);
}

.burger div{
    width: 20px; 
    height: 3px; 
    background-color: rgb(0, 0, 0);
    margin: 1.5px;
    transition: all 0.3s ease;
}

.burger{
    display:none;
    cursor: pointer;
    flex-direction: column;
}

@media (max-width:768px){
    .navlinks{
        display: none;
        position: absolute;
        right:0;
        top:70px;
        background: #c1e5f2;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 2px;
        
        
    }
    header{
        justify-content: space-between;
    }

    .logo{
        margin-left:4rem;
    }
    .navlinks li{
        margin: 0;
        padding:0.7rem;
    }
    .navlinks a:hover{
        color:white;
        
    }
    .navlinks.navactive{
        display: flex;
    }
    .burger{
        display: flex;
        margin-right: 0.5rem;
    }
    
    .contdrop{
        padding-top: 100px;
    }

    .user-icon{
    
        margin-right: 20px;
    }


}
.container{
         margin-top: 5px;
        /* position: relative; */
        width: 100%;
        height: 400px;
        background: linear-gradient(rgba(0, 0, 0, 0.789), rgba(0, 0, 0, 0.6)), 
                    url('./IMG_1555.jpg');
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
}
  .icons-container {
    margin-top:5px;
    background-color:#8cdbf8;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      padding: 20px;
  }
  .card {
  
      width: 30%;
      min-width: 280px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      background: #fff;
      transition: 0.3s;
      background-color: #f7f2de;
  }
  .card:hover {
      transform: scale(1.05);
  }
  .card img {
      margin-top: 5px;
      width: 30%;
      height: 20;
      object-fit: cover;
  }
  
  #hotel{
      margin-top: 5px;
  }
  .card-content {
      padding: 15px;
  }
  .card h2 {
      font-size: 1.2rem;
      margin-bottom: 10px;
  }
  .card p {
      font-size: 0.9rem;
      color: #555;
  }
  .card a {
      display: inline-block;
      margin-top: 10px;
      padding: 8px 15px;
      background: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-size: 0.9rem;
  }
  .card a:hover {
      background: #0056b3;
  }